<mat-list>
  <mat-list-item (click)="telefono()" matRipple>
    <mat-icon matListItemIcon>phone</mat-icon>
    <div matListItemTitle>Telefono de contacto</div>
    <div matListItemLine>24434343434</div>
  </mat-list-item>
  <mat-list-item (click)="correo()" matRipple>
    <mat-icon matListItemIcon style="text-align: center;">mail</mat-icon>
    <div matListItemTitle>Telefono de contacto</div>
    <div matListItemLine>24434343434</div>
  </mat-list-item>
  <mat-list-item (click)="whats()" matRipple>
    <mat-icon matListItemIcon style="text-align: center;">chat</mat-icon>
    <div matListItemTitle>Telefono de contacto</div>
    <div matListItemLine>24434343434</div>
  </mat-list-item>
</mat-list>